/* ----- RESET ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* ----- HEADER ----- */

header {
    background-color: #3161E0;
    padding: 1rem;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.nav-buttons {
    list-style-type: none;
}

.nav-button > a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 0.8rem;
}

.button {
    font-size: 0.8rem;
}

.accedi {
    background-color: #fff;
    padding: 5px;
    border-radius: 25px;
}

.main-header {
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 80px;
}

.main-header > h1 {
    color: #fff;
    padding: 10px;
}

 .main-header > p {
    color: #fff;;
    padding: 10px;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1rem;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn {
    padding: 0.5rem;
    font-size: 0.6rem;
    border-radius: 25px;
}

.btn-white {
    background-color: #fff;
}

.btn-black {
    background-color: #23272A;
    color: #fff;
}

.header-content {
    justify-content: ;

}

/* ----- MAIN ----- */

.section {
   align-items: center;
   padding: 80px 0;
}

.col > img {
    padding: 40px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.bg-gray {
    background-color: #F6F6F6;
}

.reverse {
    flex-direction: row-reverse;
}

.btn-lilac {
    background-color: #8EA1E1;
    color: #fff;
}